.home-img {
    width: 100%;
    height: 220px;
    margin-bottom: 50px;
}
.logo-img{
    width: 100px;
    height: 60px;
}
.about-us {
    margin-top: 10px;
}
.brand-img{
    height: 220px;
}
.nav-button{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.page-footer {
    margin-top: 50px;
}